{% extends 'base.html' %} {% block title %}
<title>Todo List Manager - Taskmate</title>
{% endblock title %} {% block content %}
<div class="container-fluid">
</br>
<p class="h5">{{ time }}</p>
<p class="h5">{{ day }}</p>
  {% if messages %}
    {% for message in messages  %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
  <form method="POST" class="row">
    {% csrf_token %}
      <label class="col-lg-4"></label>
      <input
        type="text"
        class="form-control l col-lg-6"
        name="task"
        placeholder="Add Task?"
      />
    <button type="submit" class="btn btn-primary col-lg-2">Add Task</button>
  </form>
</br>
  <table class="table text-center text-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if all_tasks %}
        {% for obj in all_tasks %} 
          {% if obj.done %}
            <tr class="table-success">
              <td class="text-dark"><del>{{obj.task}}</del></td>
              <td class="text-dark"><a href="{% url 'pending_task' obj.id %}"><span class="material-icons">
check_box
</span></a>Completed</td>
              <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">
                    <svg class="bi bi-pencil-square" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                    </svg>
                    Edit</button>
                  </a>
              </td>
              <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-outline-danger"><svg class="bi bi-trash" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/></svg>Delete</button>
                    
                    
                  </a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td>{{obj.task}}</td>
              <td><a href="{% url 'complete_task' obj.id %}"><span class="material-icons">
check_box_outline_blank
</span></a>Pending</td>
              <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">
                    <svg class="bi bi-pencil-square" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                    </svg>
                    Edit</button>
                  </a>
                </td>
              <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-outline-danger"><svg class="bi bi-trash" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/></svg>Delete</button>
                    
                    
                  </a>
              </td>
            </tr>

          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
